@import "../../styles/sassStyles/variables";
@import "../../styles/sassStyles/mixins";
@import "../../styles/sassStyles/animations";

.Wrapper {
  width: 100vw;
  padding-bottom: 100px;
  background: rgb(247, 247, 247);
}

.Header {
  position: relative;
  width: 100%;
  min-height: 320px;
  background: url("https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  > .HeaderInfo {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    > h1 {
      color: $mainYellow;
      font-size: 3rem;
      letter-spacing: 3px;
    }

    > button {
      margin-top: 22px;
      padding: 12px 24px;
      border: 0;
      border-radius: 2px;
      color: white;
      font-size: 1.3rem;
      font-weight: 600;
      background: transparent;
      border: 2px solid transparentize($color: $mainYellow, $amount: 0.3);
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      &:hover {
        background: $mainYellow;
        color: #000;
      }
    }
  }
}

.ContactWrapper {
  width: 100%;
  background: #ecebeb;
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  > h2 {
    font-size: 3.2rem;
    letter-spacing: 2px;
    padding: 12px 16px;
  }

  > .ContactElement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    margin-bottom: 12px;
    text-align: center;

    > span {
      margin-right: 12px;
      color: grey;
      letter-spacing: 2px;
      font-size: 1.2rem;
    }

    p {
      letter-spacing: 2px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.Map {
  position: relative;
  min-height: 450px;
  padding: 0 0 42px;
  padding-right: 6px;
  width: 100vw;

  > iframe {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 5px 55px -8px rgba(0, 0, 0, 0.5);
  }
}

.ContactFormWrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 24px;

  > h1 {
    font-size: 1.6rem;
    line-height: 160%;
    letter-spacing: 4px;
    text-align: left;
  }

  > .ContactFormWrapperBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.FormInput {
  display: flex;
  flex-direction: row;
  > input {
    flex-basis: 40%;
  }
}
