@import "../styles/sassStyles/variables";
@import "../styles/sassStyles/mixins";

.Footer {
  position: relative;
  padding: 68px 0 74px;
  width: 100vw;
  background: $footerColor;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: transparent;
    transform: translateY(-50%);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100vw solid $footerColor;
  }
}

.FooterContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 0px;
  padding: 16px;

  @include mdMaxBreakPoint {
    grid-template-columns: repeat(2, 1fr);
  }

  > .FooterContent_Element {
    display: flex;
    flex-direction: column;

    > h1 {
      font-size: 0.9rem;
      text-transform: uppercase;
      color: transparentize($color: #f2f2f2, $amount: 0.6);
      letter-spacing: 4px;
      margin: 26px 0 6px;
    }

    > a {
      font-size: 0.8rem;
      margin-top: 8px;
      color: transparentize($color: #f2f2f2, $amount: 0.3);
      cursor: pointer;

      @include mdMaxBreakPoint {
        margin-top: 16px;
        font-size: 0.9rem;
      }

      @include smMaxBreakPoint {
        font-size: 0.7rem;
      }

      &:hover {
        color: $mainYellow;
      }
    }
  }
}

.Colorfur {
  color: $mainYellow;
}

.Copyrights {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 4px 5%;

  > div {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include smMaxBreakPoint {
      flex-direction: column-reverse;

      > p {
        margin: 0;
      }
    }

    > p:nth-child(1) {
      font-size: 0.7rem;
      color: transparentize($color: #f2f2f2, $amount: 0.6);
    }

    > p:nth-child(2) {
      font-size: 0.7rem;
      color: transparentize($color: #f2f2f2, $amount: 0.8);

      > a {
        padding-left: 6px;
        color: $mainYellow;
        text-decoration: underline;
      }
    }

    > p {
      @include smMaxBreakPoint {
        font-size: 0.6rem !important;
      }
    }
  }
}
