@import "../styles/sassStyles/variables";
@import "../styles/sassStyles/mixins";

.MainWrapper {
  position: relative;
  margin-top: 80px;

  @include lgMaxBreakPoint {
    margin-top: 82px;
  }
}

.OverflowHidden {
  overflow-y: hidden !important;
}
