@import "../styles/sassStyles/variables";
@import "../styles/sassStyles/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  background: rgb(0, 0, 0);
  color: white;
  z-index: 2;

  @include lgMaxBreakPoint {
    height: 82px;
  }
}

.headerContainer {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  width: 80%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu_mobile {
  display: none;

  @include lgMaxBreakPoint {
    display: block;
    position: relative;
    margin-top: 6px;
    left: 0px;
    > input {
      display: block;
      width: 26px;
      height: 20px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 5;
      -webkit-touch-callout: none;
    }

    > span {
      display: block;
      width: 24px;
      height: 1px;
      margin-bottom: 5px;
      position: relative;
      background: $mainYellow;
      border-radius: 3px;
      z-index: 4;
      transform-origin: 4px 0px;
      transition: transform 0.35s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.35s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.4s ease;
      transition-delay: 0.01s;
    }

    > span:nth-child(4) {
      margin-top: 6px;
      height: 1px;
    }

    & span:first-child {
      transform-origin: 0% 0%;
    }

    & span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    & input:checked ~ span {
      opacity: 1;
      transform: rotate(47deg) translate(-2px, -1px);
      background: #fff;
      height: 7px;
    }

    & input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    & input:checked ~ span:nth-last-child(2) {
      transform: rotate(-43deg) translate(0, -1px);
    }

    & > div {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: -200px;
      margin: 0;
      z-index: 3;
      padding-bottom: 200px;
      background: rgb(26, 26, 26);
      overflow-x: hidden;
      overflow-y: auto;

      & > ul {
        width: 80%;
        padding: 20px 20px;
        z-index: 3;
        margin: 0 auto;
        margin-top: 90px;
        padding-inline-start: 28px;
        border-top: 1px solid #fff;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        & > li {
          padding: 16px 0;
          font-size: 1.1rem;
          letter-spacing: 2px;
          text-align: center;
          color: rgb(255, 255, 255);
          // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

          @include smMaxBreakPoint {
            font-size: 0.8rem;
          }

          // &:hover {
          //   color: transparentize($mainYellow, $amount: 0.2);
          // }
        }
      }
    }

    & input:checked ~ div {
      display: block;
    }
  }
}

// todo
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  cursor: pointer;
  z-index: 4;
}

.menu_list {
  display: flex;
  align-items: center;
  margin: 0;
  height: 80px;
  padding-inline-start: 0px;
}

.menu {
  @include lgMaxBreakPoint {
    display: none;
  }
}

.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: relative; */
  margin-right: 18px;
  margin-left: 18px;
  height: 128px;
  font-size: 1.05rem;
  font-weight: 400;
  list-style: none;
  transition: all 0.3s ease-in;
}
.menu_item > a {
  border-bottom: 1px solid rgba(0, 0, 0);
  padding: 6px 0;
}

li.active {
  background: rgba(121, 121, 121, 0.6);
}

.active {
  color: transparentize($mainYellow, $amount: 0.2) !important;
  border-bottom-color: transparentize($mainYellow, $amount: 0.2);

  > * {
    // fill: transparentize($mainYellow, $amount: 0.2);
    color: transparentize($mainYellow, $amount: 0.2);
    border-bottom-color: transparentize($mainYellow, $amount: 0.2);
  }
}

.menu_item:hover > a {
  color: transparentize($mainYellow, $amount: 0.2);
  border-bottom-color: transparentize($mainYellow, $amount: 0.2);
}

.menu_dropdown {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100vw;
  background: #cdcdcd;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all 0.2s ease-in;
  box-shadow: 0 15px 25px 0px rgba(255, 255, 255, 0.1);

  > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    margin: 0 auto;

    > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 160px;
      list-style: none;
      color: #000;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      font-weight: 200;

      > a {
        margin: 16px;
        font-size: 1rem;
        font-weight: normal;
      }

      > svg {
        height: 28px;
        width: auto;
      }

      &:hover {
        background: rgba(121, 121, 121, 0.2);
      }
    }
  }
}

.menu_item:hover .menu_dropdown {
  visibility: visible;
  top: 80px;
  opacity: 1;
  z-index: 2;
}

.divider {
  width: 100px;
  height: 100%;

  @include customMaxBreakPoint(1040) {
    display: none;
  }
}
