@import "../styles/sassStyles/variables";
@import "../styles/sassStyles/mixins";

.TilesWrapper {
  position: relative;
  width: 100vw;
  background-color: $bgGreyWhite;
  padding: 48px 0;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transform: translateY(50%);
    border-top: 135px solid transparent;
    border-bottom: 135px solid transparent;
    border-left: 135px solid $mainYellow;

    @include lgMaxBreakPoint {
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid $mainYellow;
    }
  }
}

.Tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 32px;

  @include lgMaxBreakPoint {
    grid-template-columns: 1fr;
  }
}

.Tile {
  position: relative;
  padding: 16px 32px;
  text-align: center;
  max-height: 80vh;
  height: 420px;
  background-position: center;
  background-size: cover;
  z-index: 1;
  border-radius: 2px;
  // transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  border: 5px solid transparent;
  box-shadow: 0 0 35px -3px rgba(0, 0, 0, 0.3);

  &:hover {
    border: 5px solid $mainYellow;
  }

  @include customMaxBreakPoint(1060) {
    height: 380px;
  }

  > .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
    background: linear-gradient(to top, transparent 0%, #000000 150%);
  }

  > .TileDetails {
    z-index: 15;
    width: 100%;
    color: white;

    > p {
      font-size: 1.1rem;
      letter-spacing: 2px;

      @include customMaxBreakPoint(1120) {
        font-size: 0.9rem;
      }
    }

    > h6 {
      font-size: 2.3rem;
      margin: 4px;

      @include customMaxBreakPoint(1120) {
        font-size: 1.7rem;
      }
    }

    > button {
      margin-top: 16px;
      padding: 16px 32px;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $bgGreyWhite;
        color: #000 !important;
      }
    }
  }
}
